<html>
  <head>
    <meta charset="UTF-8" />
    <title>Metrique</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>  

  <body>
    <div id="chart_div"></div>
    <script>
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(() => {
        fetch('/paris/')
          .then(response => response.json())
          .then(data => {
            drawBasic(data);
          })
      });
      
      function drawBasic(data) {
            var data = new google.visualization.DataTable();
            data.addColumn('timeofday', 'Time of Day');
            data.addColumn('number', 'Motivation Level');
      
            data.addRows(data);
      
            var options = {
              title: 'Motivation Level Throughout the Day',
              hAxis: {
                title: 'Time of Day',
                format: 'h:mm a',
                viewWindow: {
                  min: [7, 30, 0],
                  max: [17, 30, 0]
                }
              },
              vAxis: {
                title: 'Rating (scale of 1-10)'
              }
            };
      
            var chart = new google.visualization.ColumnChart(
              document.getElementById('chart_div'));
      
            chart.draw(data, options);
          }
    </script>
  </body>
</html>
